@page
@model Channel_A_Doctor.Pages.Doctors.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2 class="rounded bg-primary">All Doctors</h2>

<p>
    <a class="btn btn-dark" asp-page="Create">Register New Doctor</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Doctor[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor[0].Charge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor[0].MedicalCentre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Doctor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Charge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicalCentre.Name)
            </td>
            <td>
                <a class="btn btn-dark" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-dark" asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-dark" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
